<!-- example from
https://github.com/AngularTemplates/angular-forms-and-validations/blob/master/src/app/form-component/form.component.html
is potentially helpful and contributed to the shaping of this example -->
<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <form [formGroup]="addOwnerForm" (ngSubmit)="submitForm();">
    <mat-card class="add-owner-card">
        <mat-card-header>
          <mat-card-title class="add-owner-title">New Owner</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput id="nameField" placeholder="Name" formControlName="name"
                  required>
            <mat-error *ngFor="let validation of add_owner_validation_messages.name">
              <mat-error class="error-message" id="name-error"
                        *ngIf="addOwnerForm.get('name').hasError(validation.type) && (addOwnerForm.get('name').dirty || addOwnerForm.get('name').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Building</mat-label>
            <input matInput #input id="buildingField" placeholder="Building"
                  formControlName="building" required>
            <mat-error *ngFor="let validation of add_owner_validation_messages.building">
              <mat-error class="error-message" id="building-error"
                        *ngIf="addOwnerForm.get('building').hasError(validation.type) && (addOwnerForm.get('building').dirty || addOwnerForm.get('building').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Office Number</mat-label>
            <input matInput #input id="officeNumberField" placeholder="Office Number"
                  formControlName="officeNumber" required>
            <mat-error *ngFor="let validation of add_owner_validation_messages.officeNumber">
              <mat-error class="error-message" id="officeNumber-error"
                        *ngIf="addOwnerForm.get('officeNumber').hasError(validation.type) && (addOwnerForm.get('officeNumber').dirty || addOwnerForm.get('officeNumber').touched)">
                {{validation.message}}
                </mat-error>
              </mat-error>
          </mat-form-field>

          <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput #input id="emailField" placeholder="Email"
                  formControlName="email" required>
            <mat-error *ngFor="let validation of add_owner_validation_messages.email">
              <mat-error class="error-message" id='email-error'
                        *ngIf="addOwnerForm.get('email').hasError(validation.type) && (addOwnerForm.get('email').dirty || addOwnerForm.get('email').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button id="confirmAddOwnerButton" type="button" color="primary"
                  [disabled]="!addOwnerForm.valid" type="submit">
                  ADD OWNER
          </button>
        </mat-card-actions>
    </mat-card>
  </form>
  </div>
</div>
