<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!--google calendar and related-->

    <mat-card class="gcal-embed">
      <iframe src={{calendarUrl}} style="border: 0" width="1000" height="750"
      frameborder="0" scrolling="auto"></iframe>

    </mat-card>

  </div>

  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!-- list of displayed notes -->
    <mat-card>
      <mat-card-header>
        <mat-card-title class="note-list-title">Current Notes:</mat-card-title>
      </mat-card-header>

      <!-- active notes -->
      <mat-card-content>
        <h3>Active Notes</h3>
        <mat-nav-list class="active-notes-list">
          <a mat-list-item *ngFor="let note of this.notes.get('active')" [routerLink]="['/notes', owner._id]"
            class="note-item">
          </a>
        </mat-nav-list>
      </mat-card-content>

      <!-- template notes -->
      <mat-card-content>
        <h3>Template Notes</h3>
        <mat-nav-list class="template-notes-list">
          <a mat-list-item *ngFor="let note of this.notes.get('template')" [routerLink]="['/notes', owner._id]"
            class="note-item">
          </a>
        </mat-nav-list>
      </mat-card-content>

      <!-- deleted notes -->
      <mat-card-content>
        <h3>Deleted Notes</h3>
        <mat-nav-list class="deleted-notes-list">
          <a mat-list-item *ngFor="let note of this.notes.get('deleted')" [routerLink]="['/notes', owner._id]"
            class="note-item">
          </a>
        </mat-nav-list>
      </mat-card-content>

      <!-- draft notes -->
      <mat-card-content>
        <h3>Draft Notes</h3>
        <mat-nav-list class="draft-notes-list">
          <a mat-list-item *ngFor="let note of this.notes.get('draft')" [routerLink]="['/notes', owner._id]"
            class="note-item">
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>

  </div>
</div>
