.profileAndGcalContainer {
  margin: 25px;
}

.owner-card {
  max-width: 280px;
  max-height: 280px;
}

.filterNotesContainer {
  margin: 25px;
  max-width: 280px;
  max-height: 280px;
}

.addNoteContainer {
  margin: 25px;
  max-width: 280px;
  max-height: 280px;
}

.noteListContainer {
  margin: 25px;
  max-width: 280px;
  max-height: 280px;
}
