<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!--google calendar and related-->

    <mat-card class="gcal-embed">
      <iframe [src]="returnSafeLink()" style="border: 0" width="800"style="border: 0" width="1000" height="750"
      frameborder="0" scrolling="auto"></iframe>

    </mat-card>

  </div>
  <!-- set active to default-->
  <!---search Card???-->
  <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="note-list-title">Notes</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <div fxLayout="row wrap" fxGap>
          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="getNotesFromServer()" [(ngModel)]="noteStatus" id="note-status-select">
              <mat-option>--</mat-option>
              <mat-option value="active">Active</mat-option>
              <mat-option value="template">Template</mat-option>
              <mat-option value="draft">Draft</mat-option>
              <mat-option value="deleted">Deleted</mat-option>
            </mat-select>
            <mat-hint>Filtered on server</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredNotes" >
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->

      <!-- List view -->
      <mat-card class="'list'">
        <mat-card-content>
          <mat-list class="note-nav-list">
            <h3 mat-subheader>Notes</h3>
            <mat-list-item *ngFor="let note of this.filteredNotes" [routerLink]="['/notes', note._id]" class="note-list-item">
              <h3 matLine class="note-list-status"> {{note.status}} </h3>
              <p matLine class="note-list-body"> {{note.body}} </p>
              <p matLine class="note-list-expiration-date">{{note.expireDate}}</p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <app-add-note [owner_id]="this.id" class="add-note" fxFlex="1 1 280px">

    </app-add-note>
</div>
</div>
